---
layout: base
---


<body style="margin-left: 20px; margin-right: 20px;">
<br>
<br>
<br>
<br>
<br>
  
<h2 style="text-align: center; font-weight: 400;"> The German HCI </h2>
<h3 style="font-weight: 400; border-left: 3px solid #36a866; padding-left: 10px;"> About Us </h3>
<p style="font-family: 'Arial', sans-serif; text-align: justify;">The German research community in the area of Human-Computer Interaction (HCI) is highly lively and manifold. The German HCI provides a platform for the fascinating research, the aspirating labs, and the exciting events of this community. Our roots lie in the organization of the German HCI events at the ACM CHI conference, where we invite attendees to join us for discussing and exchanging the latest of HCI research in relaxed atmosphere. In addition, we also started to support further community events within the German HCI community.
  If you have questions, comments, or want to join us, please do not hesitate to contact us.</p>

<h3 style="font-weight: 400; border-left: 3px solid #36a866; padding-left: 10px;">  German HCI @ CHI </h3>
<p style="text-align: justify">Under the German HCI flag, over 30 research labs teamed up to promote together their institutions and research at the annual ACM CHI Conference on Human Factors in Computing Systems, the premier venue in the field of Human-Computer Interaction. Since 2017, we have been organizing a networking event together during CHI —also known as the German HCI event— in order to boost the visibility of our community. Over the years, this event grown to become the largest of its kind at CHI, with almost 1.000 guests.
  </p>
  
<h3 style="font-weight: 400; border-left: 3px solid #36a866; padding-left: 10px;"> 2023 Edition – Hamburg </h3>

<div style="width: 100%; text-align: center; display: flex; align-items: center;">
  <div style="width: 30%; float: left;">
    <img src="{{ site.baseurl }}/assets/img/ger1.png" alt="Mi imagen">
  </div>
  <div style="width: 70%; float: center;">
    <p>For CHI 2023 in Hamburg, Germany, we are very happy to continue our tradition of the German HCI event. Similar to the previous editions, we will curate this years publications from the German HCI labs.</p>
  </div>
  </div>
  <div style="clear: both;"></div>
</div>


A list of all previous editions shows all our events since 2017.

<h3 style="font-weight: 400; border-left: 3px solid #36a866; padding-left: 10px;"> Community Events </h3>
The German HCI community also organizes many different events, fostering the exchange about novel ideas and concepts and extending the outreach of Human-Computer Interaction.

<table style="border: none;">
  <tr>
    <td colspan="2">Events related to CHI 2023</td>
    
    <td colspan="2">Explore Hamburg during CHI 2023</td>
    
  </tr>
  <tr>
    <td><img src="{{ site.baseurl }}/assets/img/ger2.jpeg" alt="Mi imagen"></td>
    <td>There are several events organized by various members of the German HCI community that are related to CHI 2023 in Hamburg. Read more.</td>
    <td><img src="{{ site.baseurl }}/assets/img/ger3.jpg" alt="Mi imagen"></td>
    <td>We collected recommendations on what to see and visit during CHI in Hamburg and prepared example routes for you. Read more.</td>
  </tr>
</table>
</body>

